* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 10px;
    border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00264d;
}

td {
    color: #212529;
    padding: 0px 0px
}

a {
    text-decoration: none;
}

.muted {
    color: gray;
    font-size: 52px;
}

.inline-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

svg {
    width: 600;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.list {
    height: 100vh;
}

.btn-success {
    width: 125px;
}

.big {
    width: 125px;
}

.btn-primary {
    width: 70px;
}

.show {
    overflow: hidden;
}

.hide {
    display: none;
}

.large {
    font-size: 2.5em;
}

.medium {
    font-size: 1em;
    font-weight: bolder;
}

.small {
    font-size: 0.9em;
    margin: 15px 0px;
}

.dict-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    margin-top: 150px;
}

.word-search {
    border-radius: 50px;
    border: 0.5px solid gray;
    outline: none;
    padding: 8px 20px;
    width: 50%;
}

.word-output {
    margin: 50px 50px
}

.table-row {
    cursor: pointer;
}

.clicked-word {
    background-color: gray;
}

th,
td {
    padding: 10px
}

.clicked-word td {
    color: white;
}

.clicked-word th {
    color: white;
}

.clicked-word a.black {
    color: white;
}

a,
a:hover,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

a.black {
    color: black;
}

.black:hover {
    color: black
}

@media screen and (max-width: 425px) {
    .centered {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin-bottom: 100px;
    }

    .text {
        padding-bottom: 70px
    }

    svg {
        width: 300px;
    }

    .sub {
        display: none;
    }

    .muted {
        font-size: 32px
    }

    .btn-success {
        width: 125px;
    }

    .word-def {
        font-size: 23px
    }

    /* .large {
        font-size: 32em;
    } */

    .small {
        margin: 10px 50px;
    }

    .dict-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 50vh; */
        margin-top: 150px;
    }

    .word-search {
        border-radius: 50px;
        border: 0.5px solid gray;
        outline: none;
        padding: 8px 20px;
        width: 80%;
    }

    .word-output {
        margin: 30px 40px
    }
}