*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

td{
    color: #212529;
    padding: 0px 0px
}

a{
    text-decoration: none;
}

.muted{
    color: gray;
    font-size: 52px;
}

.inline-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

svg{
    width: 600;
}

.centered{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.list{
    height: 100vh;
}

.btn-success{
    width: 125px;
}

.big{
    width: 125px;
}

.btn-primary{
    width: 70px;
}

.show{
    overflow: hidden;
}

.hide{
    display: none;
}

@media screen and (max-width: 425px) {
    .centered{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin-bottom: 100px;
    }

    .text{
        padding-bottom: 70px
    }

    svg{
        width: 300px;
    }

    .sub{
        display: none;
    }

    .muted{
        font-size: 32px
    }

    .btn-success{
        width: 125px;
    }

    .word-def{
        font-size: 23px
    }
}