*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.yinyan-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: rgb(255, 255, 255);
  }
  
  .yinyan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10vmin;
    height: 10vmin;
    border-radius: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), color-stop(0, white));
    background: linear-gradient(black 50%, white 0);
    -webkit-animation: r 2s linear infinite;
            animation: r 2s linear infinite;
  }
  
  .yinyan:before, .yinyan:after {
    --i: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: solid 1.66667vmin hsl(0, 0%, calc((1 - var(--i)) * 100%));
    height: 1.66667vmin;
    border-radius: 50%;
    -webkit-transform-origin: calc(var(--i) * 100%) 50%;
            transform-origin: calc(var(--i) * 100%) 50%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: hsl(0, 0%, calc(var(--i) * 100%));
    -webkit-animation: s 1s ease-in-out calc(var(--i) *-1s) infinite alternate;
            animation: s 1s ease-in-out calc(var(--i) *-1s) infinite alternate;
    content: "";
    box-sizing: content-box;
  }
  
  .yinyan:after {
    --i: 1;
  }
  
  @-webkit-keyframes s {
    to {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  @keyframes s {
    to {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  
  @-webkit-keyframes r {
    to {
      -webkit-transform: rotate(1turn);
              transform: rotate(1turn);
    }
  }
  
  @keyframes r {
    to {
      -webkit-transform: rotate(1turn);
              transform: rotate(1turn);
    }
  }

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 10px;
    border: 6px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00264d;
}

td{
    color: #212529;
    padding: 0px 0px
}

a{
    text-decoration: none;
}

.muted{
    color: gray;
    font-size: 52px;
}

.inline-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

svg{
    width: 600;
}

.centered{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.list{
    height: 100vh;
}

.btn-success{
    width: 125px;
}

.big{
    width: 125px;
}

.btn-primary{
    width: 70px;
}

.show{
    overflow: hidden;
}

.hide{
    display: none;
}

@media screen and (max-width: 425px) {
    .centered{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin-bottom: 100px;
    }

    .text{
        padding-bottom: 70px
    }

    svg{
        width: 300px;
    }

    .sub{
        display: none;
    }

    .muted{
        font-size: 32px
    }

    .btn-success{
        width: 125px;
    }

    .word-def{
        font-size: 23px
    }
}